ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(240, 140, 140);
    font-family: IBM Plex Sans
  }
  
  li {
    float:left;
  }
  
  li a {
    display: block;
    color: royalblue;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 19pt;
  }
  
  
  li a:hover {
    background-color: tomato;
    
  }
  body {
    background-color:  #fad2ef;
    font-family: IBM Plex Sans; 
  }
   
  tr {font-size: 18pt;

  }
table {text-align: center;

}

h1{ font-size: 36pt;
    border: 1px;
    display: block;
    color: rgb(95, 3, 18);
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    background-color: #d1d1d1;
    border: rgb(9, 1, 53)
    border-radius 6px;
    
}

p{ font-size: 16pt;
    border: 1px;
    display: block;
    color: rgb(124, 6, 51);
    text-align: left;
    padding: 10px 12px;



}

h3 {font-size: 18pt;
    border: 1px;
    display: block;
    color: rgb(243, 242, 240);
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    background-color: #df74af;
    border: 2px solid rgb(85, 1, 43);
    border-radius: 5px;

}


a { padding: 6px;
  background-color: rgb(164, 211, 255)